body {
	background-color: black;
}

#header {
    background-color: #bddfeb;
    border:10px solid white;
    color:white;
    text-align:center;
    padding:5px;
    height: 55px;
}

#main_container {

	float: left;
	background-color: #bddfeb;
	border-top: 0px;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	border-left: 10px solid white;
	color: black;
	height: 570px;
	width: 825px;

}

#display_box {
	float: right;
	background-color: #bddfeb;
	border-top: 0px;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	border-left: 0px;
	height: 171px;
	width: 409px;
}


.control_box {
	float: right;
	background-color: #bddfeb;
	border-top: 0px;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	border-left: 0px;
	height: 389px;
	width: 409px;
}

ul {
	margin-top: -14px;
}

li {
	list-style-type: none;
	text-align: left;
}

#text_display1 {
	text-align: center;
	font-style: bold;
	margin: auto;
	margin-top: 7px;
	margin-bottom: 8px;
	font-size: 23px;
	height: 75px;
	width: 395;
}

#choices_display {
	text-align: left;
	font-style: bold;
	margin: auto;
	margin-top: 2px;
	font-size: 23px;
	height: 86px;
	width: 395;
	padding-left: 0px;
}


#questionBtn {
	background-color: green;
	width:111px;
	height:55px;
	border-radius: 50px;
	color: white;
	font-size: 15px;
	margin-left: 45px;
	margin-right: 80px;


}

#resetBtn {
background-color: red;
	width:111px;
	height:55px;
	border-radius: 50px;
	color: white;
	font-size: 15px;
	margin-right: 45px;
}

#elevdisplay {
	text-align: left;
	margin-bottom: 5px;
	border: 1px solid black;
	height: 35px;
	width: 75px;
}














