body {
	background-color: black;
}

#header {
    background-color: #bddfeb;
    border:10px solid white;
    color:white;
    text-align:center;
    padding:5px;
    height: 55px;
}

#main_container {

	float: left;
	background-color: #bddfeb;
	border-top: 0px;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	border-left: 10px solid white;
	color: black;
	height: 570px;
	width: 825px;

}

#display_box {
	float: right;
	background-color: #bddfeb;
	border-top: 0px;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	border-left: 0px;
	height: 171px;
	width: 409px;
}


#button_box {
	float: right;
	background-color: #bddfeb;
	border-top: 0px;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	border-left: 0px;
	height: 89px;
	width: 409px;
}

ul {
	margin-top: -14px;
}

li {
	list-style-type: none;
	text-align: left;
}

#text_display1 {
	text-align: center;
	font-style: bold;
	margin: auto;
	margin-top: 7px;
	margin-bottom: 8px;
	font-size: 23px;
	height: 75px;
	width: 395;
}

#choices_display {
	text-align: left;
	font-style: bold;
	margin: auto;
	margin-top: 2px;
	font-size: 23px;
	height: 86px;
	width: 395;
	padding-left: 0px;
}


#questionBtn {
	background-color: green;
	width: 111px;
	height: 55px;
	border-radius: 50px;
	color: white;
	font-size: 15px;
	float: left;
	margin: 15px 0px 0px 45px;


}

#resetBtn {
	background-color: red;
	width:111px;
	height:55px;
	border-radius: 50px;
	color: white;
	font-size: 15px;
	margin: 15px 45px 0px 97px;
	
}

#scoreboxes {
	float: right;
	margin-top: 50px;
}


#player1Score {
	width:111px;
	height:55px;
	border:1px solid black;
	font-size: 15px;
	background-color: black;
	color: white;
	
}

#player2Score {
	width:111px;
	height:55px;
	border:1px solid black;
	font-size: 15px;
	background-color: black;
	color:white;
	
}

#scoreboxes {
	background-color: #bddfeb;
	width: 419px;
	height: 290px;
	margin-top: 0px;
	border-bottom: 10px solid white;

}

input {
	
}













